# Ignore Python virtual environments
.venv/

# Ignore build and distribution files
build/
dist/

# Ignore egg-related files
*.egg
*.egg-info/

# Ignore compiled Python files
**/__pycache__/
*.pyc

# Ignore sensitive key files
Keys/
Keys/*.json

# Ignore large database files
*.mdb
*.lmdb
*.sqlite
*.db
*.json
blockchain_storage/
ZYCDB/

# Ignore Git metadata files
.git/

# Ignore logs
logs/
*.log

# Ignore frontend build files
frontend/node_modules/
frontend/dist/

# Ignore temporary files
*.swp
*.swo
*.bak
*.tmp

# Ignore TinyDB database files
tinydb.json
