blinker==1.9.0
BTrees==6.1
cffi==1.17.1
click==8.1.8
colorama==0.4.6
duckdb==1.1.3
Flask==3.1.0
gmpy2==2.2.1
itsdangerous==2.2.0
Jinja2==3.1.5
lmdb==1.6.2
MarkupSafe==3.0.2
mpmath==1.3.0
numpy==2.2.2
oqs==0.10.2
persistent==6.1
pip==24.3.1
pqcrypto==0.1.3
pycparser==2.22
pycryptodome==3.21.0
PyQt6==6.8.0
PyQt6-Qt6==6.8.1
PyQt6_sip==13.9.1
setuptools==75.8.0
sympy==1.13.3
termcolor==2.5.0
tinydb==4.8.2
unify==0.5
unqlite==0.9.7
untokenize==0.1.1
Werkzeug==3.1.3
zope.deferredimport==5.0
zope.interface==7.2
zope.proxy==6.1
